pip==22.2.1
moviepy
streamlit-option-menu
Pillow
streamlit
pafy
youtube-dl==2020.12.2
yake
selenium
seleniumbase==1.38.3
chromedriver-binary
webdriver-manager
chromedriver-py
chromedriver_autoinstaller
setuptools==57.5.0
ez_setup